body{
  margin-top: 20px;
  background-color: rgb(14, 18, 72);
  color: white;
}

.container{
  padding: 25px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  box-shadow: 5px 10px 20px 10px rgb(135, 135, 135);
}





.container h1{
  text-align: center;
  text-decoration: underline;
}

#question{
  text-align: start;
}

#question #span {
  position: absolute;
  right: 50px;
}

#answers .form-check{

justify-content: center;
align-items: center;
flex-direction: column;
}

#button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
